doctype
html
  head
    link(rel="stylesheet" href="style.css")
    title Uploads

  body
    h1 Congrats yo clicked a button
    a(href="/") Turn Back!!! Save Yourself!!!
    div#photos
      img(src=`${newImage}`)